body {
  margin: 0;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
}

header img {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

nav {
  width: 300px;
  margin-right: 10px;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: underline;
}

nav a {
  color: seashell;
}

nav a:hover {
  color: white;
  opacity: 1;
}

main {
  max-width: 1200px;
  margin: auto;
  margin-top: 69px;
}

main section {
  margin-bottom: 10% !important;
}

.intro {
  height: 700px;
  background-image: url(img/img-mission-background.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission {
  background-color: black;
  width: 100%;
}

.mission h2 {
  margin-top: 0.25em;
}

.mission h4 {
  margin-bottom: 0.25em;
}

.featured {
  max-width: 1000px;
  margin: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery figure {
  margin: 10px;
}

.gallery img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.locations {
  background-image: url(img/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  opacity: 1;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.location {
  background-color: black;
  width: 300px;
  height: 300px;
  line-height: 3rem;
  margin: 40px auto;
}

.bayside {
  margin: 0 40px;
}

.oakdale {
  opacity: 1;
}

.contact {
  height: 200px;
}

footer > p {
  text-align: left;
  margin-left: 20px;
}

@media only screen and (max-width: 500px) {
  header {
    height: 90px;
    justify-content: center;
  }

  main {
    margin-top: 90px;
  }

  .gallery figure {
    margin: 10px auto;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  .locations h2 {
    margin-bottom: 0;
  }

  footer p {
    text-align: center;
    margin: 20px auto;
  }
}
